* {
    margin: 0;
    padding: 0;
    font-family: karla;
}

body {
    background-color: #F3E2E6;
    color: white;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 1.5px #EACBD2;
}

#canvas-container {
    width: 100%;
    text-align:center;
}

canvas {
    
}